*.map
*.ts
!*.d.ts
tsconfig.json
# Starting with NativeScript 4.0, we ignore all files in the plugin's platforms/android directory except packaged .aar and include.gradle. 
platforms/android/**/*
!platforms/android/*.aar
!platforms/android/include.gradle